Repository demisto/content-docs, pull requests merged in 2021-08, with the labels that each got.

#731 PingOne article
  content-repo/extra-docs/integrations/saml-pingone.md
  docs/doc_imgs/reference/SAML-PingOne/SAML-PingOne-App-Config.png
  docs/doc_imgs/reference/SAML-PingOne/SAML-PingOne-App-Details.png
  docs/doc_imgs/reference/SAML-PingOne/SAML-PingOne-Download-Public-Cert.png
  docs/doc_imgs/reference/SAML-PingOne/SAML-PingOne-Group-Access.png
  docs/doc_imgs/reference/SAML-PingOne/SAML-PingOne-IDP-ID.png
  docs/doc_imgs/reference/SAML-PingOne/SAML-PingOne-Metadata-File.png
  docs/doc_imgs/reference/SAML-PingOne/SAML-PingOne-Metadata-URL.png
  docs/doc_imgs/reference/SAML-PingOne/SAML-PingOne-New-App.png
  docs/doc_imgs/reference/SAML-PingOne/SAML-PingOne-Show-App-Details.png
  docs/doc_imgs/reference/SAML-PingOne/SAML-PingOne-Users-Roles.png
Labels: docs-approved

#736 Release Notes 21.8.0
  content-repo/extra-docs/releases/21.8.0.md
Labels: docs-approved

#700 Article for the phishing campaign
  content-repo/extra-docs/articles/Phishing-Campaign.md
Labels: docs-approved

#749 Create Prisma-Cloud.md
  content-repo/extra-docs/articles/Prisma-Cloud.md
Labels: docs-approved

#751 Add examples for the credentials
  docs/integrations/code-conventions.md
Labels: docs-approved

#754 Release notes 21.8.1
  content-repo/extra-docs/releases/21.8.1.md
Labels: docs-approved

#753 update deprecation for edl management
  content-repo/extra-docs/articles/deprecated_info.json
Labels: docs-approved

#747 CustomIndicator doc
  docs/integrations/custom-indicator.md
Labels: docs-approved

#750 design tutorial corrections
  docs/tutorials/tut-design.md
Labels: documentation

#752 Update Prisma-Cloud.md
  content-repo/extra-docs/articles/Prisma-Cloud.md
Labels: docs-approved

#757 Update CoA-premium-pack-readme.md
  content-repo/extra-docs/articles/CoA-premium-pack-readme.md
Labels: docs-approved

#742 Microsoft Integrations overview
  content-repo/extra-docs/articles/microsoft-integrations-overview.md
Labels: documentation, docs-approved

#779 release notes 21.8.2
  content-repo/extra-docs/releases/21.8.2.md
Labels: docs-approved
