Repository demisto/content-docs, pull requests merged in 2021-07, with the labels that each got.

#692 New screens for Splunk README
  docs/doc_imgs/integrations/classify.png
  docs/doc_imgs/integrations/incident_type.png
  docs/doc_imgs/integrations/mapping.png
Labels: docs-approved

#705 release notes 21.7.0
  content-repo/extra-docs/releases/21.7.0.md
Labels: docs-approved

#717 best-practices-typo
  docs/concepts/design-best-practices.md
Labels: bug, docs-approved

#718 pychram-plugin-typo
  docs/concepts/pycharm-plugin.md
Labels: docs-approved

#708 Remove IAM commands mention
  docs/integrations/generic-commands-about.md
Labels: documentation

#720 21.7.1 release notes
  content-repo/extra-docs/releases/21.7.1.md
Labels: docs-approved

#726 PSRemote article link fix
  content-repo/extra-docs/articles/PS-Remote.md
Labels: docs-approved
