Repository demisto/content-docs, pull requests merged in 2021-04, with the labels that each got.

#479 Iam integrations
  docs/integrations/iam-integrations.md
  sidebars.js
Labels: docs-approved

#583 Minor fixes to marketplace docs page
  docs/contributing/marketplace.md
Labels: docs-approved

#571 IAM pack documentation update for Phase 3
  content-repo/extra-docs/articles/IAM-premium-pack-readme.md
Labels: docs-approved

#560 Update adopt.md
  docs/partners/adopt.md
Labels: stale

#595 release notes 21.4.0
  content-repo/extra-docs/releases/21.4.0.md
Labels: docs-approved

#600 add MS Graph Mail integration to Email Communication
  content-repo/extra-docs/articles/Email-Communication-Readme.md
Labels: docs-approved, documentation

#607 Update integrations-and-incident-health-check.md
  content-repo/extra-docs/articles/integrations-and-incident-health-check.md
Labels: docs-approved

#615 release notes 21.4.1
  content-repo/extra-docs/releases/21.4.1.md
Labels: docs-approved

#620 Update Endpoints in context-standards-mandatory.md
  docs/integrations/context-standards-mandatory.md
Labels: documentation
