Repository demisto/content-docs, pull requests merged in 2021-02, with the labels that each got.

#467 Release notes 21.2.0
  content-repo/extra-docs/releases/21.2.0.md
Labels: docs-approved

#458 Update Email-Communication-Readme.md
  content-repo/extra-docs/articles/Email-Communication-Readme.md
Labels: docs-approved, use-case

#492 release notes 21.2.1
  content-repo/extra-docs/releases/21.2.1.md
Labels: docs-approved

#495 Update integrations-and-incident-health-check.md
  content-repo/extra-docs/articles/integrations-and-incident-health-check.md
Labels: docs-approved

#466 Added a comment about the readme creation for new packs
  docs/contributing/marketplace.md
Labels: documentation
