Repository demisto/content-docs, pull requests merged in 2022-02, with the labels that each got.

#975 Update incident-auto-extract.md
  docs/incidents/incident-auto-extract.md
Labels: docs-approved

#977 Add CDL Authorization screen to README
  docs/doc_imgs/integrations/cdl-authorization.png
Labels: docs-approved

#940 Update download-packs-and-docker-images-offline.md
  content-repo/extra-docs/articles/download-packs-and-docker-images-offline.md
Labels: docs-approved, stale

#925 Change Management
  content-repo/extra-docs/packs/Change_Management.md
  docs/doc_imgs/reference/Change_Management/Jira_Map_fields.PNG
  docs/doc_imgs/reference/Change_Management/Jira_Mapper_load_json.PNG
  docs/doc_imgs/reference/Change_Management/Jira_copy_from.PNG
  docs/doc_imgs/reference/Change_Management/Jira_query.PNG
  docs/doc_imgs/reference/Change_Management/Jira_settings.PNG
  docs/doc_imgs/reference/Change_Management/SNOW_Map_fields.PNG
  docs/doc_imgs/reference/Change_Management/SNOW_copy_from.PNG
  docs/doc_imgs/reference/Change_Management/Snow_settings.PNG
  docs/doc_imgs/reference/Change_Management/classification_and_mapping_Jira.PNG
  docs/doc_imgs/reference/Change_Management/classification_and_mapping_SNOW.PNG
Labels: docs-approved

#982 Release notes 22.2.0
  content-repo/extra-docs/releases/22.2.0.md
Labels: docs-approved

#945 triggerDebugMirroringRun documentation
  docs/integrations/mirroring.md
Labels: documentation, docs-approved

#1002 Update playbook-settings.md
  docs/playbooks/playbook-settings.md
Labels: docs-approved
