Repository demisto/content-docs, pull requests merged in 2022-01, with the labels that each got.

#904 Update packs-format.md
  docs/packs/packs-format.md
Labels: docs-approved

#902 Update mirroring.md to have get and set last mirror run
  docs/integrations/mirroring.md
Labels: documentation, docs-approved

#880 Create article for Policy Optimizer pack
  content-repo/extra-docs/packs/Policy_Optimizer.md
Labels: docs-approved

#926 URL extraction documentation
  docs/indicators/url-extraction.md
  sidebars.js
Labels: docs-approved

#927 Domain extraction documentation
  docs/indicators/domain-extraction.md
  sidebars.js
Labels: docs-approved

#932 Update SAML 2.0 docs
  content-repo/extra-docs/integrations/saml_2.md
Labels: docs-approved

#920 Create download-packs-and-docker-images-offline.md
  content-repo/extra-docs/articles/download-packs-and-docker-images-offline.md
Labels: docs-approved

#941 vm-more-use-cases
  docs/concepts/use-cases.md
Labels: docs-approved

#924 Update generic-commands-reputation.md
  docs/integrations/generic-commands-reputation.md
Labels: docs-approved, stale

#944 New rapid breach response article
  content-repo/extra-docs/packs/Rapid-Breach-Response.md
  docs/doc_imgs/reference/RapidBreachResponseLayout/Hunting_Results.png
  docs/doc_imgs/reference/RapidBreachResponseLayout/IR_Procedures.png
  docs/doc_imgs/reference/RapidBreachResponseLayout/Incident_Info.png
Labels: docs-approved

#950 Release notes 22.1.0
  content-repo/extra-docs/releases/22.1.0.md
Labels: docs-approved

#952 Update content-management.md
  content-repo/extra-docs/packs/content-management.md
Labels: docs-approved

#948 Add files via upload
  docs/doc_imgs/tutorials/tut-integration-ui/apikey_param.png
  docs/doc_imgs/tutorials/tut-integration-ui/argument-text.png
  docs/doc_imgs/tutorials/tut-integration-ui/byoi.png
  docs/doc_imgs/tutorials/tut-integration-ui/command-name.png
  docs/doc_imgs/tutorials/tut-integration-ui/connect-tasks.png
  docs/doc_imgs/tutorials/tut-integration-ui/cortex-xsoar-ide.png
  docs/doc_imgs/tutorials/tut-integration-ui/insecure.png
  docs/doc_imgs/tutorials/tut-integration-ui/integration-settings-image.png
  docs/doc_imgs/tutorials/tut-integration-ui/new-incident.png
  docs/doc_imgs/tutorials/tut-integration-ui/outputs.png
  docs/doc_imgs/tutorials/tut-integration-ui/parameters.png
  docs/doc_imgs/tutorials/tut-integration-ui/playbook-complete.png
  docs/doc_imgs/tutorials/tut-integration-ui/print-task.png
  docs/doc_imgs/tutorials/tut-integration-ui/proxy.png
  docs/doc_imgs/tutorials/tut-integration-ui/source-text.png
  docs/doc_imgs/tutorials/tut-integration-ui/translation results.png
  docs/doc_imgs/tutorials/tut-integration-ui/translationcontext.png
  docs/doc_imgs/tutorials/tut-integration-ui/url.png
  docs/doc_imgs/tutorials/tut-integration-ui/yoda-command-cli.png
  docs/doc_imgs/tutorials/tut-integration-ui/yoda-instance.png
  docs/doc_imgs/tutorials/tut-integration-ui/yoda-utility.png
Labels: docs-approved
