Repository demisto/content-docs, pull requests merged in 2022-04, with the labels that each got.

#1073 Added documentation for generate-yml-from-python demisto-sdk command
  docs/concepts/demisto-sdk.md
  docs/integrations/yml-from-python-code-gen.md
  sidebars.js
Labels: docs-approved

#1056 Update ServiceNow v2 integration instance settings configuration screenshot
  docs/doc_imgs/integrations/snowv2-configuration-settings.png
Labels: stale

#1078 Add files via upload
  docs/doc_imgs/integrations/cybereason-pre-process.png
Labels: docs-approved

#1080 Command Runner documantation
  docs/integrations/code-conventions.md
Labels: docs-approved

#1081 Add Lists content item topic
  docs/incidents/incident-lists.md
Labels: docs-approved

#1059 added explanation how to squash commits
  docs/contributing/conventions.md
Labels: documentation
